.text-input {
    border: none;
    border-bottom: 1px solid var(--clr2);
    background-color: transparent;
    width: 100%;
}

.text-input:focus {
    border-bottom: 1px solid var(--clr4);
    outline: none;
}

#menu {
    height: 100px;
    background-color: #3498db;
    transition: width 0.3s ease;
    overflow: hidden;
}

#menu {
    width: 0px;
}

/* Tablet ke atas (>=768px) */
@media (min-width: 768px) {
    #menu {
        width: 200px;
    }
}
